div#drpg-game-console {
    border: 1px solid #000;
    display: inline-block;
    height: 256px;
    margin-left: 30px;
    overflow: auto;
    width: 300px;
}

div#drpg-game-console p {
    margin: 2px 0 2px 10px;
}

div#drpg-game-screen p {
    clear: both;
}

a#drpg-game-focus {
    display: none;
}
